@model IEnumerable<MvcCoreAzureStorage.Models.BlobModel>

@{
    ViewData["Title"] = "ListBlobs";
}

<h1>ListBlobs</h1>

<p>
    <a asp-controller="AzureBlobs"
       asp-action="Index"
       class="btn btn-outline-dark">
        Back to Containers
    </a>
</p>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Url)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Container)
            </th>
            <th>Imagen</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>                
                <a asp-controller="AzureBlobs"
                    asp-action="DeleteBlob"
                    asp-route-containername="@item.Container"
                    asp-route-blobname="@item.Nombre"
                    class="btn btn-danger">
                    Delete Blob: <b>@item.Nombre</b>
                </a>
            </td>
            <td>
                <a href="@item.Url" target="_blank">
                    @item.Url
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Container)
            </td>
            <td>
                @* <a href="@Url.Action("GetBlob", "AzureBlobs", new { containername = item.Container, blobname = item.Nombre })" target="_blank">
                    Descargar Blob
                </a> *@
                <img src="@item.Url" style="width:100px;height:100px" />
            </td>
        </tr>
}
    </tbody>
</table>
